.authorization {
  &-content {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 10px;
    &-title {
    }
    &-body {
      &-input {
        margin-top: 20px;
        border: 1px solid rgb(16, 214, 65);
        padding: 5px 10px;
        border-radius: 10px;
      }
    }
  }
}
