* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  max-width: 420px;
}
.App {
  margin: 0 auto;
  padding: 10px 20px;
}
