* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  max-width: 420px;
}
.body {
  padding: 15px;
  border-radius: 20px;
  background-color: var(--tg-theme-secondary-bg-color);
}
.App {
  margin: 0 auto;
  padding: 10px 20px;
}
